@import "colors";

@mixin sans-serif-text($size){
	font-family: "Arial", sans-serif;
	line-height:1.3em;
	font-size:$size;
}

.profile-marker{
	fill:yellow !important;
}

$highlight_color:$trib_orange;

@import "legends_and_keys";



#map{
	height:600px;
	border: 1px solid #eee;

}

.trb_mainContent .map-nav{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;

	.button{
		@include sans-serif-text(10px);
		color:black;
		display: block;
		margin: 10px 0;
		padding:15px 0;
		background-color:#eee;
		text-align: center; 
		cursor:pointer;
		color:black;
		transition:all 150ms;
		width:18%;

		&:first-child{
			border-radius: 5px 5px 0 0;
		}

		&:last-child{
			border-radius: 0 0 5px 5px;
		}

		&.active, &.active:hover{
			background-color:$highlight_color;
			font-weight: bold;
			color:white;
			transition:all 150ms;
		}

		&:hover{
			opacity: .8;
			color:black;
		}
	}
}


.label{
	@include sans-serif-text(14px);
	font-weight:bold;
}

#legend-container{
	// padding: 10px 0;
	// background-color:#eee;
}

.legend__divider{
	border:none;
	height:1px;
	background:$trib_light_gray;
	margin:10px 0;
}